<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.104.2">
    <title>Login Pelayanan Akademik</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/sign-in/">
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap"
        rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

        .b-example-divider {
            height: 3rem;
            background-color: rgba(0, 0, 0, .1);
            border: solid rgba(0, 0, 0, .15);
            border-width: 1px 0;
            box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
        }

        .b-example-vr {
            flex-shrink: 0;
            width: 1.5rem;
            height: 100vh;
        }

        .bi {
            vertical-align: -.125em;
            fill: currentColor;
        }

        .nav-scroller {
            position: relative;
            z-index: 2;
            height: 2.75rem;
            overflow-y: hidden;
        }

        .nav-scroller .nav {
            display: flex;
            flex-wrap: nowrap;
            padding-bottom: 1rem;
            margin-top: -1px;
            overflow-x: auto;
            text-align: center;
            white-space: nowrap;
            -webkit-overflow-scrolling: touch;
        }
    </style>


    <!-- Custom styles for this template -->
    <link href="/stylesheets/signin.css" rel="stylesheet">
</head>

<body>

    <main class="form-signin w-100 m-auto ">
        <div class="container mb-3">
            <div class="row">
                <div class="col-1 text-start">
                    <img src="/images/mortarboard.png" alt="">
                </div>
                <div class="col-11 text-start d-flex align-items-center fw-semibold">
                    Departemen Sistem Informasi Universitas Andalas
                </div>
            </div>
        </div>

        <div class="formsign border rounded-3 bg-white">
            <form class="p-5">
                <h4 class="text-start fw-semibold">Login</h4>
                <p class="text-start mb-4">Silahkan login untuk mengakses aplikasi.</p>

                <div class="formNIM pb-2">
                    <label for="floatingInput" class="pb-2">NIM</label>
                    <input type="number" class="form-control bg-light" id="nim" placeholder="Masukkan NIM">
                </div>
                <div class="formPassword pb-5">
                    <label for="floatingPassword" class="pb-2">Password</label>
                    <input type="password" class="form-control bg-light" id="password" placeholder="Masukkan Password">
                </div>

                <button class="w-100 btn btn-lg btn-secondary btn-submit" type="submit">Login</button>
            </form>
        </div>
    </main>
    <script src="/javascripts/mahasiswa/loginMahasiswa.js"></script>
</body>

</html>